body {
    background-color: #eeebeb7a;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 1.6em;
    color: #f5f2f2;
    padding: 0.8em 0 0.5em 0.2em;
    margin-top: 0;
    width: 50%;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-weight: bold;
}

.navbar {
    background-color: #343a40;
    margin-top: 0;
    display: flex;
    padding-top: 0.7em;
}

.menu {
    color: #bbb4b4;
    font-size: 1.1em;
    width: 50%;
    text-align: right;
    padding-right: 0.7em;
    text-decoration:none;
}


/*main-page*/
.main-space {
    padding: 0 1.1em;
}

.right-selection {
    margin: 2em 0 0 15em;
}

.left-part,
.right-part {
    display: inline-flex;
}

/*selection panel*/
.selection-panel {
    display: inline-flex;
}
.zone-selection {
    display: inline-flex;
}

.zone1,
.zone2 {
        width: 50%;
        margin-left: 2em;
        background-color: #b6b4b4;
        padding: 0.7em 0.7em;
}

.first-zone,
.second-zone {
    overflow-x: auto;
    width: 93em;
}

/*sequence selection*/
.sequence-selection {
    margin:2em 0 1em 1.1em;
}
.sequence-form {
    display:inline-flex;
}
.select-sequence {
    height: 2em;
    margin-right: 1em;
}
input[type="submit"] {
    height: 2em;
    background-color: #8fe42d;
    border-color: #8fe42d;
}



/*uploading files*/
.new-db {
    margin-left: 63em;
}
.upload-style {
    margin-top: 0.6em;
}

.submit-new-file {
    background-color: #FF9800;
    border-color: #FF9800;
    padding: 0.3em 0.5em;
}






.val {
    background-color: #03A9F4;
    border-color: #03A9F4;
}

.butts {
    margin-right: 1em;
    padding: 0.5em 1em;
}

.parametrycos {
    color: #bbb4b4;
}


/*speed groups*/
.speed {
    font-size: 1.5em;
}

.speed-groups {
    margin-top:1em;
}
.speed-group1,
.speed-group2 {
    width: 50%;
    display: table-cell;
    padding-bottom: 1em;
    padding-right: 4em;
}
/*parameters*/



/* search textfield  */
    
    .searchText-button {
    background-color: #8fe42d;
    border-color: #8fe42d;
    padding: 0.4em 0.8em;
    }



/*inline help tips*/

.help-tip {
    position: absolute;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    margin-left: 18em;
}

    .help-tip:before {
        content: '?';
        font-weight: bold;
        color: #fff;
    }

    .help-tip:hover p {
        display: block;
        transform-origin: 100% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
    }

    .help-tip p { /* The tooltip */
        display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -50px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
        z-index: 2;
    }

        .help-tip p:before { /* The pointer of the tooltip */
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-bottom-color: #1E2021;
            right: 10px;
            top: -12px;
        }

        .help-tip p:after { /* Prevents the tooltip from being hidden */
            width: 100%;
            height: 40px;
            content: '';
            position: absolute;
            top: -40px;
            left: 0;
        }

    /*zone tolltip*/
.help-tip-zones {
    margin-top: 1.5em;
    margin-left: 19em;
}
.zones-selection-tooltip {
    padding-top: 10px;
    height: 300px;
    width: 200px;
    margin-left: 3em;
}
/*groups tolltip*/
.group-selection-tooltip {
    padding-top: 10px;
    height: 230px;
    width: 300px;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

/*link inside the tooltip*/
.tooltip-link {
    color:red;
}


/*current status before table*/
.current-selections {
    font-size: 1.5em;
    color: #ed2b2b;
}


/*table*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*tooltip in the table*/
.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #939191;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        font-size: 10px;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

tr:target {
    color: red !important;
}