body {
    background-color: #eeebeb7a;
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    background-color: #343a40;
    margin-top: 0;
    display: flex;
    padding-top: 0.7em;
}

.menu {
    color: #bbb4b4;
    font-size: 1.1em;
    width: 50%;
    text-align: right;
    padding-right: 0.7em;
    text-decoration:none;
}

/*selection panel*/
.selection-panel {
    display: inline-flex;
}
.zone-selection {
    display: inline-flex;
}

.zone1,
.zone2 {
        width: 50%;
        margin-left: 2em;
        background-color: #b6b4b4;
        padding: 0.7em 0.7em;
}


.new-db {
    margin-left: 63em;
}


h1 {
    font-size: 1.6em;
    color: #f5f2f2;
    padding: 0.8em 0 0.5em 0.2em;
    margin-top: 0;
    width: 50%;
}

/*main-page*/
.main-space {
    padding: 0 1.1em;
}


.left-part,
.right-part {
    width: 50%;
    display: initial;
}

.speed {
    font-size: 1.5em;
}

.val {
    background-color: #03A9F4;
    border-color: #03A9F4;
}

.butts {
    margin-right: 1em;
    padding: 0.5em 1em;
}

a {
    text-decoration: none;
    color: black;
}

.parametrycos {
    color: #bbb4b4;
}

.right-part {
    padding-left: 6em;
}

.first-zone,
.second-zone {
    overflow-x: auto;
    width: 93em;
}
/*table*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #939191;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        font-size: 10px;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

tr:target {
    color: red!important;
}

.speed-group1,
.speed-group2 {
    width: 50%;
    display: table-cell;
    padding-bottom: 1em;
    padding-right: 4em;
}
/*parameters*/