<div class="navbar">
    <h1>Wyszukiwarka parametrów COS</h1>
    <p class="menu"><a href="/">Wyszukaj parametr</a></p>
</div>
<div class="adding-space">

    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <form action="/" method="POST" encType="multipart/form-data">
                    <input type="file" name="file" accept="*.csv" /><br /><br />
                    <input type="submit" value="Upload Authors" />
                </form>
            </div>
            </div>
        </div>
                


            </div>
