<h1>Parametry COS</h1>
<section class="get">
    <h3>Search Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
        <article class="item">
            <div>Title: {{ P1010 }}</div>
        </article>
        {{/each}}
    </div>
</section>
