<div class="navbar">
    <h1>Dobór głównych danych technologicznych procesu COS</h1>
    <p class="menu"><a href="/" class="parametrycos">Wyszukaj parametr</a></p>
</div>






<a href="/">
    <button>Jestem gotowy, zabierz mnie do aplikacji</button>
</a>


