<div class="navbar">
    <h1>Dobór głównych danych technologicznych procesu COS</h1>
    <p class="menu"><a href="/" class="parametrycos">Wyszukaj parametr</a></p>
</div>

<div class="instruction-main">
    <h2>Omówienie funkcjonalności dostępnych na stronie</h2>
    <h3>Algorytm wyboru głównych danych technologicznych</h3>
    <div class="instruction-step2">
        <p>1. Wybór pasma</p>
        <img src="./stylesheets/pasma.PNG" class="img-step2" />
    </div>
    <div class="instruction-step3">
        <p>Możliwy jest wybór pomiędzy pasmem 1 oraz 2 ponieważ w aplikacji została uzwględniona maszyna dwupasmowa. Przykładowy schemat takiej maszyy został załączony we wskazówce.</p>
        <img src="./stylesheets/pasma-tip.PNG" class="img-step3" />
    </div>
    <div class="instruction-step1">
        <p>2. Wybór sekwencji</p>
        <img src="./stylesheets/sekwencje.PNG" class="img-step1" />
    </div>
    <div class="instruction-step4">
        <p>3. Wybór grupy</p>
        <img src="./stylesheets/grupy.PNG" class="img-step4" />
    </div>
    <div class="instruction-step5">
        <p>Jak zostało to zobarazowane we wskazówce, grupy różnią się miejscem pomiaru prędkości.</p>
        <img src="./stylesheets/grupy-tip.PNG" class="img-step5" />
    </div>
    <div class="instruction-step6">
        <p>4. Wybór prędkości</p>
        <img src="./stylesheets/predkosci.PNG" class="img-step6" />
    </div>
    <div class="instruction-step7">
        <p>5. Wybór parametrów, które wyświetlone zostaną w tabeli. Możliwe jest zaznaczenie kilku parametrów jednocześnie.</p>
        <img src="./stylesheets/widocznosc_param.PNG" class="img-step7" />
    </div>
    <div class="instruction-step8">
        <p>Każdy parametr uwzględniony w tabeli posiada opis, który uwidacznia się po najechaniu na prametr kursorem myszy.</p>
        <img src="./stylesheets/table-tip.PNG" class="img-step8" />
    </div>
    <div class="instruction-step9">
        <p>Poprzez kliknięcie na parametr użytkownik zostanie przeniesiony do dokładniejszego opisu parametru.</p>
        <img src="./stylesheets/parametry.PNG" class="img-step9" />
    </div>

    <h3>Funkcje dodatkowe</h3>
    <div class="instruction-step10">
        <p>Możliwe jest także wyszukanie pojedynczego parametru. </p>
        <img src="./stylesheets/wybor_parametru.PNG" class="img-step10" />
    </div>
    <div class="instruction-step11">
        <p>Program umożliwia także wprowadzenie nowych plików przez użytkownika. Nowe pozycje zostają automatycznie zapisane do listy sekwencji omówionej w punkcie pierwszym.</p>
        <img src="./stylesheets/upload_plików.PNG" class="img-step11" />
    </div>
    <div class="instruction-step12">
        <p>Po załadowaniu plików do bazy pojawia się komunikat z informacją ile rekordów zostało dodanych do bazy oraz linkiem przekierowującym do strony głównej.</p>
        <img src="./stylesheets/upload_plikow_powiadomienie.PNG" class="img-step12" />
    </div>

</div>


<div class="to-main-page">
    <a href="/">
        <button class="to-main-page-button">Jestem gotowy, zabierz mnie do aplikacji</button>
    </a>
</div>



