<div class="navbar">
    <h1>Dobór głównych danych technologicznych</h1>
    <p class="menu"><a href="/" class="parametrycos">Wyszukaj parametr</a></p>
</div>
<div class="my-legend">
    <table>
        <tr>
                <th>Symbol</th>
                <th>Jednostka</th>
                <th>Opis</th>
        </tr>
        <tr id="P1034">
            <th><div>P1034</div></th>
            <th><div>[m/min]</div></th>
            <th><div>Prędkość odlewania Grupa 1</div></th>
        </tr>
        <tr id="P1036">
            <th>P1036</th>
            <th>[m/min]</th>
            <th>Prędkość odlewania Grupa 2</th>
        </tr>
        <tr id="P1058">
            <th>P1058</th>
            <th>[mm]</th>
            <th>Akt.szerok.kryst.gorna</th>
        </tr>
        <tr id="P1060">
            <th>P1060</th>
            <th>[mm]</th>
            <th>Akt.szer kryst.na zimno</th>
        </tr>
        <tr id="P1062">
            <th>P1062</th>
            <th>[mm]</th>
            <th>Akt. zbieżność prawa</th>
        </tr>
        <tr id="P1064">
            <th>P1064</th>
            <th>[mm]</th>
            <th>Akt. zbieżność lewa</th>
        </tr>
        <tr id="P1104">
            <th>P1104</th>
            <th>[m/min]</th>
            <th>Nastawa prędkości odlewania</th>
        </tr>
        <tr id="P1106">
            <th>P1106</th>
            <th>[bar]</th>
            <th>Ciśnienie wody zasilającej krystalizatory</th>
        </tr>
        <tr id="P1108">
            <th>P1108</th>
            <th>[°C]</th>
            <th>Temperatura wody zasilającej krystalizatory</th>
        </tr>
        <tr id="P1112">
            <th>P1112</th>
            <th>[bar]</th>
            <th>Cisnienie wody chłodzącej maszyny zasilanie</th>
        </tr>
        <tr id="P1114">
            <th>P1114</th>
            <th>[°C]</th>
            <th>Temperatura wody chłodzącej maszyny</th>
        </tr>
        <tr id="P1118">
            <th>P1118</th>
            <th>[l/min]</th>
            <th>Przepływ wody w krystalizatorze, ściana stała</th>
        </tr>
        <tr id="P1120">
            <th>P1120</th>
            <th>[l/min]</th>
            <th>Przepływ wody w krystalizatorze, ściana luźna</th>
        </tr>
        <tr id="P1122">
            <th>P1122</th>
            <th>[l/min]</th>
            <th>Przepływ wody w krystalizatorze, ściana wąska, lewa</th>
        </tr>
        <tr id="P1124">
            <th>P1124</th>
            <th>[l/min]</th>
            <th>Przepływ wody w krystalizatorze, ściana wąska, prawa</th>
        </tr>
        <tr id="P1126">
            <th>P1126</th>
            <th>[°C]</th>
            <th>Zmiana temperatury wody w krystalizatorze, delta T, ściana stała</th>
        </tr>
        <tr id="P1128">
            <th>P1128</th>
            <th>[°C]</th>
            <th>Zmiana temperatury wody w krystalizatorze, delta T, ściana luźna</th>
        </tr>
        <tr id="P1130">
            <th>P1130</th>
            <th>[°C]</th>
            <th>Zmiana temperatury wody w krystalizatorze, delta T, ściana lewa</th>
        </tr>
        <tr id="P1132">
            <th>P1132</th>
            <th>[°C]</th>
            <th>Zmiana temperatury wody w krystalizatorze, delta T, ściana prawa</th>
        </tr>
        <tr id="P1134">
            <th>P1134</th>
            <th>[l/min]</th>
            <th>Przepływ wody chłodzącej natryskowej, zasilanie strefy 1-3</th>
        </tr>
        <tr id="P1136">
            <th>P1136</th>
            <th>[l/min]</th>
            <th>Przepływ wody chłodzącej natryskowej, zasilanie strefy 4-7</th>
        </tr>
        <tr id="P1138">
            <th>P1138</th>
            <th>[bar]</th>
            <th>Ciśnienie wody chłodzącej natryskowej, zasilanie strefy 1-3</th>
        </tr>
        <tr id="P1140">
            <th>P1140</th>
            <th>[bar]</th>
            <th>Ciśnienie wody chłodzącej natryskowej, zasilanie strefy 4-7</th>
        </tr>
        <tr id="P1142">
            <th>P1142</th>
            <th>[°C]</th>
            <th>Temperatura wody chłodzącej natryskowej, zasilanie strefy 1-3</th>
        </tr>
        <tr id="P1144">
            <th>P1144</th>
            <th>[°C]</th>
            <th>Temperatura wody chłodzącej natryskowej, zasilanie strefy 4-7</th>
        </tr>
        <tr id="P1146">
            <th>P1146</th>
            <th>[l/min]</th>
            <th>Przepływ wody chłodzącej natryskowej, zasilanie strefy 1</th>
        </tr>
        <tr id="P1148">
            <th>P1148</th>
            <th>[bar]</th>
            <th>Ciśnienie wody chłodzącej natryskowej, zasilanie strefy 1</th>
        </tr>
        <tr id="P1150">
            <th>P1150</th>
            <th>[l/min]</th>
            <th>Przepływ wody chłodzącej natryskowej, zasilanie strefy 2</th>
        </tr>
        <tr id="P1152">
            <th>P1152</th>
            <th>[bar]</th>
            <th>Ciśnienie wody chłodzącej natryskowej, zasilanie strefy 2</th>
        </tr>
        <tr id="P1154">
            <th>P1154</th>
            <th>[l/min]</th>
            <th>Przepływ wody chłodzącej natryskowej, zasilanie strefy 3</th>
        </tr>
        <tr id="P1156">
            <th>P1156</th>
            <th>[bar]</th>
            <th>Ciśnienie wody chłodzącej natryskowej, zasilanie strefy 3</th>
        </tr>
        <tr id="P1158">
            <th>P1158</th>
            <th>[l/min]</th>
            <th>Przepływ wody chłodzącej natryskowej, zasilanie strefy 4</th>
        </tr>
        <tr id="P1160">
            <th>P1160</th>
            <th>[bar]</th>
            <th>Ciśnienie wody chłodzącej natryskowej, zasilanie strefy 4</th>
        </tr>
        <tr id="P1162">
            <th>P1162</th>
            <th>[l/min]</th>
            <th>Przepływ wody chłodzącej natryskowej, zasilanie strefy 5</th>
        </tr>
        <tr id="P1164">
            <th>P1164</th>
            <th>[bar]</th>
            <th>Ciśnienie wody chłodzącej natryskowej, zasilanie strefy 5</th>
        </tr>
        <tr id="P1166">
            <th>P1166</th>
            <th>[l/min]</th>
            <th>Przepływ wody chłodzącej natryskowej, zasilanie strefy 6</th>
        </tr>
        <tr id="P1168">
            <th>P1168</th>
            <th>[bar]</th>
            <th>Ciśnienie wody chłodzącej natryskowej, zasilanie strefy 6</th>
        </tr>
        <tr id="P1170">
            <th>P1170</th>
            <th>[l/min]</th>
            <th>Przepływ wody chłodzącej natryskowej, zasilanie strefy 7</th>
        </tr>
        <tr id="P1172">
                <th>P1172</th>
                <th>[bar]</th>
                <th>Ciśnienie wody chłodzącej natryskowej, zasilanie strefy 7</th>
        </tr>
        <tr id="P1182">
            <th>P1182</th>
            <th>[°C]</th>
            <th>Temperatura wody powrotnej chłodzenia maszyny</th>
        </tr>
        <tr id="P1188">
            <th>P1188</th>
            <th>[°C]</th>
            <th>Temperatura ciekłej stali w kadzi pośredniej</th>
        </tr>
        <tr id="P1194">
            <th>P1194</th>
            <th>[m/min]</th>
            <th>Predkosc optymalna z II poziomu pasmo 1</th>
        </tr>

    </table>
</div>