<div class="navbar">
    <h1>Wyszukiwarka parametrów COS</h1>
    <p class="menu"><a href="/">Wyszukaj parametr</a></p>
</div>
<div class="my-legend">
    <table>
        <tr>
            <th>P1034</th>
            <th>[m/min]</th>
            <th>Prędkość odlewania Grupa 1</th>
        </tr>
        <tr>
            <th>P1036</th>
            <th>[m/min]</th>
            <th>Prędkość odlewania Grupa 2</th>
        </tr>
        <tr>
            <th>P1058</th>
            <th>[mm]</th>
            <th>Akt.szerok.kryst.gorna</th>
        </tr>
        <tr>
            <th>P1060</th>
            <th>[mm]</th>
            <th>Akt.szer kryst.na zimno</th>
        </tr>
        <tr>
            <th>P1062</th>
            <th>[mm]</th>
            <th>Akt. zbieżność prawa</th>
        </tr>
        <tr>
            <th>P1064</th>
            <th>[mm]</th>
            <th>Akt. zbieżność lewa</th>
        </tr>
        <tr>
            <th>P1104</th>
            <th>[m/min]</th>
            <th>Nastawa prędkości odlewania</th>
        </tr>
        <tr>
            <th>P1106</th>
            <th>[bar]</th>
            <th>Ciśnienie wody zasilającej krystalizatory</th>
        </tr>
        <tr>
            <th>P1108</th>
            <th>[°C]</th>
            <th>Temperatura wody zasilającej krystalizatory</th>
        </tr>
        <tr>
            <th>P1112</th>
            <th>[bar]</th>
            <th>Cisnienie wody chłodzącej maszyny zasilanie</th>
        </tr>
        <tr>
            <th>P1114</th>
            <th>[°C]</th>
            <th>Temperatura wody chłodzącej maszyny</th>
        </tr>
        <tr>
            <th>P1118</th>
            <th>[l/min]</th>
            <th>Przeplyw wody krys.sc.P1 stala</th>
        </tr>
        <tr>
            <th>P1120</th>
            <th>[l/min]</th>
            <th>Przeplyw wody krys.sc.P1 luzna</th>
        </tr>
        <tr>
            <th>P1122</th>
            <th>[l/min]</th>
            <th>Przeplyw wody krys.sc.waska lewaP1</th>
        </tr>
        <tr>
            <th>P1124</th>
            <th>[l/min]</th>
            <th>Przeplyw wody krys.sc.waska prawaP1</th>
        </tr>
        <tr>
            <th>P1126</th>
            <th>[°C]</th>
            <th>Delta T sciana stala P1</th>
        </tr>
        <tr>
            <th>P1128</th>
            <th>[°C]</th>
            <th>Delta T sciana luzna P1</th>
        </tr>
        <tr>
            <th>P1130</th>
            <th>[°C]</th>
            <th>Delta T sciana lewa P1</th>
        </tr>
        <tr>
            <th>P1132</th>
            <th>[°C]</th>
            <th>Delta T sciana prawa P1</th>
        </tr>
        <tr>
            <th>P1134</th>
            <th>[l/min]</th>
            <th>Przep.wody ch.nat.str.1-3 zas.P1</th>
        </tr>
        <tr>
            <th>P1136</th>
            <th>[l/min]</th>
            <th>Przep.wody ch.nat.str.4-7 zas.P1</th>
        </tr>
        <tr>
            <th>P1138</th>
            <th>[bar]</th>
            <th>Cisn.wody ch.nat.str.1-3 zas.P1</th>
        </tr>
        <tr>
            <th>P1140</th>
            <th>[bar]</th>
            <th>Cisn.wody ch.nat.str.4-7 zas.P1</th>
        </tr>
        <tr>
            <th>P1142</th>
            <th>[°C]</th>
            <th>Temp.wody ch.nat.str.1-3 zas.P1</th>
        </tr>
        <tr>
            <th>P1144</th>
            <th>[°C]</th>
            <th>Temp.wody ch.nat.str.4-7 zas.P1</th>
        </tr>
        <tr>
            <th>P1146</th>
            <th>[l/min]</th>
            <th>Przep.wody nat.zas.str.1,P1</th>
        </tr>
        <tr>
            <th>P1148</th>
            <th>[bar]</th>
            <th>Cisn.wody nat.zas.str.1,P1</th>
        </tr>
        <tr>
            <th>P1150</th>
            <th>[l/min]</th>
            <th>Przep.wody nat.zas.str.2,P1</th>
        </tr>
        <tr>
            <th>P1152</th>
            <th>[bar]</th>
            <th>Cisn.wody nat.zas.str.2,P1</th>
        </tr>
        <tr>
            <th>P1154</th>
            <th>[l/min]</th>
            <th>Przep.wody nat.zas.str.3,P1</th>
        </tr>
        <tr>
            <th>P1156</th>
            <th>[bar]</th>
            <th>Cisn.wody nat.zas.str.3,P1</th>
        </tr>
        <tr>
            <th>P1158</th>
            <th>[l/min]</th>
            <th>Przep.wody nat.zas.str.4,P1</th>
        </tr>
        <tr>
            <th>P1160</th>
            <th>[bar]</th>
            <th>Cisn.wody nat.zas.str.4,P1</th>
        </tr>
        <tr>
            <th>P1162</th>
            <th>[l/min]</th>
            <th>Przep.wody nat.zas.str.5,P1</th>
        </tr>
        <tr>
            <th>P1164</th>
            <th>[bar]</th>
            <th>Cisn.wody nat.zas.str.5,P1</th>
        </tr>
        <tr>
            <th>P1166</th>
            <th>[l/min]</th>
            <th>Przep.wody nat.zas.str.6,P1</th>
        </tr>
        <tr>
            <th>P1168</th>
            <th>[bar]</th>
            <th>Cisn.wody nat.zas.str.6,P1</th>
        </tr>
        <tr>
            <th>P1170</th>
            <th>[l/min]</th>
            <th>Przep.wody nat.zas.str.7,P1</th>
        </tr>
        <tr>
            <th>P1172</th>
            <th>[bar]</th>
            <th>Cisn.wody nat.zas.str.7,P1</th>
        </tr>
        <tr>
            <th>P1182</th>
            <th>[°C]</th>
            <th>Temp.powrotu wody ch.maszyn.P1</th>
        </tr>
        <tr>
            <th>P1188</th>
            <th>[°C]</th>
            <th>Temp.kadzi posredniej</th>
        </tr>
        <tr>
            <th>P1194</th>
            <th>[m/min]</th>
            <th>Predkosc optymalna z II poziomu pasmo 1</th>
        </tr>

    </table>
</div>